@import '../../sass/main.scss';

.comments-section {
	&__header {
		display: flex;
		justify-content: space-between;
		width: 100%;

		@include respond(phone) {
			flex-direction: column;
			align-items: center;
			height: 8rem;
		}
	}

	&__heading {
		font-size: 2.5rem;
	}

	&__buttons {
		font-size: var(--default-font-size);
		display: flex;
	}

	&__order-btn {
		padding: 0 2rem;
		user-select: none;
		transition: all 0.2s;
		cursor: pointer;

		&:hover {
			color: var(--color-primary);
		}

		&:active {
			transform: translateY(2px);
		}
	}
}
