* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;

	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
	}

	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px, 8/16 = 50%
	}
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--default-font);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-secondary-dark);
	color: var(--color-white);
	text-align: center;
	font-weight: 400;
	line-height: 1.6;
}

::selection {
	background-color: var(--color-white);
	color: var(--color-primary);
}
