@import '../../../sass/main.scss';

.experience {
	background-color: var(--color-secondary);
}

.qualifications {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include respond(tab-port) {
		flex-direction: column;
	}
}
