:root {
	// COLORS
	--color-primary: #00bcd4;
	--color-secondary-light: #06101a;
	--color-secondary-dark: #050d16;

	--color-white: #ffffff;
	--color-black: #000000;

	--color-grey-light: #e8e1e1;

	// SHADOWS
	--shadow-dark: rgba(0, 0, 0, 1) 0px 10px 20px, rgba(0, 0, 0, 1) 0px 6px 6px;

	// FONT
	--default-font: 'Poppins', sans-serif;
	--default-font-size: 1.6rem;
	--font-size-large: 2rem;
	--font-size-xl: 3rem;
	--font-size-xxl: 5rem;

	// BORDER
	--border-radius-medium: 1rem;
}
