:root {
	// COLORS
	--color-primary: #00bcd4;
	--color-secondary-light: #06101a;
	--color-secondary-dark: #050d16;

	--color-white: #ffffff;
	--color-black: #000000;

	// SHADOWS
	--shadow-basic: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
	--shadow-elevated: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

	// FONT
	--default-font: 'Poppins', sans-serif;
	--default-font-size: 1.6rem;
	--font-size-large: 2rem;
	--font-size-xl: 3rem;
	--font-size-xxl: 5rem;

	// BORDER
	--border-radius-medium: 1rem;
}
