.section {
	max-width: 117rem;
	width: 100%;
	margin: 10rem auto;

	&__title {
		font-size: 2.4rem;
		line-height: 30px;
		text-transform: uppercase;
		color: var(--color-primary);
		font-weight: 700;
	}

	&__subtitle {
		font-size: 3.6rem;
		line-height: 46px;
		color: var(--color-white);
		font-weight: 600;
	}

	&__description {
		max-width: 77rem;
		font-size: 1.5rem;
		line-height: 28px;
		color: #faf7ff;
	}

	&__content {
		padding: 2rem;
	}
}
