@import '../../../sass/main.scss';

.section {
	max-width: 117rem;
	width: 100%;
	margin: auto;
	padding: 10rem 0;

	@include respond(tab-port) {
		padding: 10rem 1rem;
	}

	&__title {
		font-size: 2.4rem;
		line-height: 30px;
		text-transform: uppercase;
		color: var(--color-primary);
		font-weight: 700;
	}

	&__subtitle {
		font-size: 3.6rem;
		line-height: 46px;
		color: var(--color-white);
		font-weight: 600;
	}

	&__description {
		max-width: 77rem;
		font-size: 1.5rem;
		line-height: 28px;
		color: #faf7ff;
		margin: 2rem auto;
		text-align: justify;
	}

	&__content {
		padding: 2rem;
	}
}
