.service-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem;

	&__circle {
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		background-color: var(--color-primary);
		padding: 3.5rem;
		display: flex;
		justify-content: center;
	}

	&__icon {
		height: 100%;
		user-select: none;
	}

	&__title {
		font-size: 2.4rem;
		line-height: 30px;
		font-weight: 700;
		text-transform: uppercase;
		padding: 2rem 0;
	}

	&__text {
		max-width: 31rem;
		width: 100%;
		min-height: 10.8rem;
		height: 100%;
		font-size: 1.5rem;
		line-height: 28px;
		color: var(--color-grey-light);
		// text-align: center;
		text-align: justify;
		// justified looks way better ;)
	}
}
