@import '../sass/main.scss';

.home {
	padding: 5rem 1rem;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.services {
	display: flex;

	@include respond(tab-port) {
		flex-direction: column;
		align-items: center;
	}
}
