@import '../../sass/main.scss';

.home {
	max-width: 117rem;
	width: 100%;
	margin: 3rem auto;
}

.services {
	display: flex;
	margin-top: 1rem;

	@include respond(tab-port) {
		flex-direction: column;
		align-items: center;
	}
}
