@import '../../sass/main.scss';

.home {
	&__qualification {
		background-color: var(--color-secondary-light);
	}
}

.services {
	display: flex;
	margin-top: 1rem;

	@include respond(tab-port) {
		flex-direction: column;
		align-items: center;
	}
}

.qualifications {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	@include respond(tab-port) {
		flex-direction: column;
	}
}
